# VSCode settings
.vscode

# Config and test file
config.py
cogs/developer/test.py

# IPC
cogs/infrastructure/ipc.py
cogs/infrastructure/_ipc.py

# Virtual environment and cache
.venv
**/__pycache__
.ruff_cache
