discord.py @ git+https://github.com/Rapptz/discord.py@master
asyncpg
asyncpg-stubs
psutil
asyncache
Pillow
pyjwt
pygit2 == 1.15.1

types-cachetools
types-Pillow

langcodes[data]
cutlet
unidic-lite

jishaku @ git+https://github.com/Gorialis/jishaku@master